.cell {
    border: 1px solid rgb(0, 0, 0);
}

.heading_options{
    display:block;
}


.vertical-align{
    text-align: center;
}
.options{
    margin-bottom:15px
}

.grid{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.delay{
    animation-delay: 3s;
}

.tableCell{
    height:25px;
    width:25px
}